.coluna1{
			width: 370px;
		}
.coluna2{
			width: 230px;
		
		}
.colunaAcoes{
			width: 200px;
			margin-left: 60px;
}
		
.colunaNumero{
			width: 130px;
		
		}
		
.colunaLeito{
			width: 400px;
		
		}
		
.colunaInternar{
			width: 230px;
		
		}
		
		